bottom/
dconf/
fontconfig/
lazygit/
mozilla/
OpenRGB/
hypr/.current_wallpaper
qtvirtualkeyboard/
gtk-3.0/
user-dirs.dirs
user-dirs.locale
gtk-3.0/
pulse/
systemd/
pavucontrol.ini
org.coolercontrol.CoolerControl/
aseprite/
procps/
google-chrome/
